* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  background: #797979;
}

.inner-wrapper {
  width: 1000px;
  margin: 0 auto;
  background: url(../images/inner-background.png);
}

/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.sprite-sprite, .logo__image, .stamp, .case, .item-value_underlined:after, .radio-button:before, .radio-button:after, .skills-checkbox-check:before, .skills-checkbox-check:checked:after, .js-scale, .js-scale__mark-inner, .js-scale__mark-outer, .js-scale__pointer, .date-value:after {
  background-image: url('../images/sprite-s18a85738f7.png');
  background-repeat: no-repeat;
}

.header-wrapper {
  position: relative;
  height: 302px;
  width: 898px;
  margin: 0 auto;
}

.logo {
  position: absolute;
  left: -4px;
  top: 67px;
}

.logo__image {
  background-position: 0 -527px;
  height: 35px;
  width: 143px;
}

.logo__link {
  display: block;
  width: 143px;
  height: 35px;
}

.logo__substring {
  width: 143px;
  margin-top: 5px;
  font-family: 'pt_sansregular';
  font-size: 0.6em;
  text-align: center;
}

.stamp {
  position: absolute;
  top: 48px;
  right: 2px;
  background-position: 0 -1080px;
  height: 106px;
  width: 252px;
}

.case {
  position: absolute;
  bottom: 0;
  left: 324px;
  background-position: 0 0;
  height: 109px;
  width: 215px;
}

@font-face {
  font-family: 'pt_sansregular';
  src: url("../fonts/PTS55F-webfont.eot");
  src: url("../fonts/PTS55F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS55F-webfont.woff") format("woff"), url("../fonts/PTS55F-webfont.ttf") format("truetype"), url("../fonts/PTS55F-webfont.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.content-wrapper {
  width: 770px;
  margin: 0 auto;
}

.skills {
  margin-top: 55px;
  padding-bottom: 75px;
}

.skills__item {
  margin-top: 20px;
  overflow: hidden;
}
.skills__item:nth-child(6) {
  margin-top: 43px;
}
.skills__item:nth-child(7) {
  margin-top: 43px;
}
.skills__item:nth-child(8) {
  margin-top: 42px;
}

.item-name, .item-value, .item-value_underlined {
  display: inline-block;
  vertical-align: bottom;
}

.item-name {
  font-family: 'pt_sansregular';
  font-weight: bold;
  font-size: 1.4em;
}

.item-value_underlined {
  position: relative;
  font-family: 'pt_sansregular';
  font-size: 1.6em;
  word-spacing: 0.8em;
  padding: 0px 20px 10px 20px;
  margin-left: 5px;
}
.item-value_underlined:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  background-position: 0 -1256px;
  width: 697px;
  height: 3px;
}

.item-value {
  position: relative;
  font-family: 'pt_sansregular';
  font-size: 1em;
  margin-left: 5px;
}

.school-link {
  font-family: 'pt_sansregular';
  font-size: 1.3em;
  font-weight: bold;
  color: #014f98;
  padding-bottom: 10px;
}

.radio-button {
  position: relative;
  width: 0px;
  height: 0px;
  margin-left: 50px;
  cursor: pointer;
  outline: none;
}
.radio-button:before {
  position: absolute;
  left: -25px;
  top: -20px;
  display: block;
  content: "";
  background-position: 0 -888px;
  width: 26px;
  height: 26px;
}
.radio-button:after {
  position: absolute;
  left: -25px;
  top: -20px;
  display: none;
  content: "";
  background-position: 0 -984px;
  width: 26px;
  height: 26px;
}

.radio-button:checked:before {
  display: none;
}
.radio-button:checked:after {
  display: block;
}

.radio-button-label {
  padding-left: 5px;
  font-family: 'pt_sansregular';
  font-size: 1.3em;
  font-weight: bold;
}

.item-note {
  position: relative;
  margin: 11px 0 0 7px;
  line-height: 20px;
  font-family: 'pt_sansregular';
  font-size: 0.9em;
}
.item-note:before {
  content: "*";
  position: absolute;
  left: -13px;
  top: 7px;
  display: block;
  font-size: 2.3em;
  font-family: 'pt_sansregular';
}

.skills-checkbox__list {
  margin-top: 26px;
  margin-left: 2px;
}

.skills-checkbox__item {
  width: 235px;
  margin: 0 0 11px 25px;
  float: left;
  font-family: 'pt_sansregular';
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.06em;
}
.skills-checkbox__item:nth-child(3n+1) {
  margin-left: 0px;
}

.skills-checkbox-check, .skills-checkbox-label {
  cursor: pointer;
}

.skills-checkbox-check {
  position: relative;
  width: 0;
  height: 0;
  margin-left: 12px;
}
.skills-checkbox-check:focus {
  outline: none;
}
.skills-checkbox-check:before {
  position: absolute;
  bottom: -3px;
  right: 2px;
  content: "";
  display: block;
  outline-style: none;
  background-position: 0 -273px;
  width: 18px;
  height: 18px;
}
.skills-checkbox-check:hover {
  cursor: pointer;
}

.skills-checkbox-check:checked:after {
  position: absolute;
  bottom: -1px;
  right: -2px;
  content: "";
  display: block;
  outline-style: none;
  background-position: 0 -179px;
  width: 19px;
  height: 24px;
}

.js-scale__item {
  padding: 36px 0 0 6px;
  overflow: visible;
}

.js-scale-block {
  position: relative;
}

.js-scale {
  position: relative;
  background-position: 0 -435px;
  height: 22px;
  width: 760px;
  margin-top: 23px;
}

.js-scale__mark-inner {
  position: absolute;
  top: 43px;
  background-position: 0 -632px;
  height: 10px;
  width: 3px;
}

#inner-first {
  left: 147px;
}

#inner-second {
  left: 372px;
}

.js-scale__mark-outer {
  position: absolute;
  top: 43px;
  background-position: 0 -712px;
  height: 23px;
  width: 3px;
}

#outer-first {
  left: 0px;
}

#outer-second {
  left: 756px;
}

.js-scale__pointer {
  position: absolute;
  top: 1px;
  left: 141px;
  background-position: 0 -805px;
  height: 13px;
  width: 16px;
  cursor: pointer;
}

.js-scale__text {
  position: absolute;
  top: 70px;
  display: inline-block;
  max-width: 200px;
  font-family: 'pt_sansregular';
  font-size: 0.8em;
  font-weight: bold;
}

.js-scale__text-first {
  left: -1px;
}

.js-scale__text-second {
  left: 143px;
}

.js-scale__text-third {
  left: 371px;
}

.js-scale__text-fourth {
  right: 0px;
  top: 76px;
}

.item-date {
  margin-top: 107px;
}

.date-name {
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0.07em;
}

.date-value {
  position: relative;
  padding: 0 0 15px 7px;
  font-size: 1.65em;
  letter-spacing: 0.22em;
}
.date-value:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 5px;
  background-position: 0 -361px;
  width: 206px;
  height: 4px;
}
